In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Искусственный интеллект (продвинутый уровень)/dataset[1].csv")
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.400,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.200,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.330,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.000,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.900,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,bPLS6013,3246801,(6013 P-L),6013 P-L,NaN,NaN,N,N,17.135,NaN,...,6.969000e+00,7.433000e+00,4.631100e+01,2.738300e+01,1.041200e+00,1.652100e-01,1.309700e+02,7.264900e+02,MBA,0.23839
958520,bPLS6331,3246834,(6331 P-L),6331 P-L,NaN,NaN,N,N,18.500,NaN,...,1.563500e-05,5.598600e-05,2.380400e-04,1.298200e-04,2.418900e-08,3.346100e-09,4.690200e-04,1.578500e-05,MBA,0.53633
958521,bPLS6344,3013075,(6344 P-L),6344 P-L,NaN,NaN,Y,Y,20.400,NaN,...,1.853300e-05,5.691700e-05,8.969200e-05,5.272600e-05,1.650100e-07,1.101600e-08,2.830600e-04,9.127500e-05,APO,0.51556
958522,bT2S2060,3246457,(2060 T-2),2060 T-2,NaN,NaN,N,N,18.071,NaN,...,5.448800e-01,4.391600e+00,1.898800e+01,1.083800e+01,7.171600e-01,1.016700e-01,3.898400e+01,5.035500e+02,MBA,0.25641
958523,bT3S2678,3246553,(2678 T-3),2678 T-3,NaN,NaN,N,N,18.060,NaN,...,1.102300e+00,3.117000e-01,1.284300e+00,4.736100e-01,1.626700e-01,2.487900e-02,5.523600e+00,1.064800e+02,MBA,0.26980

In [22]:
df.shape

(958524, 45)

In [23]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 761.3 MB

In [24]:
import numpy as np

df.isnull().sum()

id                     0
spkid                  0
full_name              0
pdes                   0
name              936460
prefix            958506
neo                    4
pha                19921
H                   6263
diameter          822315
albedo            823421
diameter_sigma    822443
orbit_id               0
epoch                  0
epoch_mjd              0
epoch_cal              0
equinox                0
e                      0
a                      0
q                      0
i                      0
om                     0
w                      0
ma                     1
ad                     4
n                      0
tp                     0
tp_cal                 0
per                    4
per_y                  1
moid               19921
moid_ld              127
sigma_e            19922
sigma_a            19922
sigma_q            19922
sigma_i            19922
sigma_om           19922
sigma_w            19922
sigma_ma           19922
sigma_ad           19926
sigma_n            19922
sigma_tp           19922
sigma_per          19926
class                  0
rms                    2
dtype: int64

In [25]:
df = df.drop(['name', 'prefix'], axis=1)
df = df.drop(['id', 'spkid','full_name', 'equinox','orbit_id','pdes'], axis=1)
df = df.dropna()

In [26]:
df.isna().sum()

neo               0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
epoch             0
epoch_mjd         0
epoch_cal         0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [27]:
df.shape

(131142, 37)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131142 entries, 0 to 909489
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             131142 non-null  object
 1   pha             131142 non-null  object
 2   H               131142 non-null  float64
 3   diameter        131142 non-null  float64
 4   albedo          131142 non-null  float64
 5   diameter_sigma  131142 non-null  float64
 6   epoch           131142 non-null  float64
 7   epoch_mjd       131142 non-null  int64
 8   epoch_cal       131142 non-null  float64
 9   e               131142 non-null  float64
 10  a               131142 non-null  float64
 11  q               131142 non-null  float64
 12  i               131142 non-null  float64
 13  om              131142 non-null  float64
 14  w               131142 non-null  float64
 15  ma              131142 non-null  float64
 16  ad              131142 non-null  float64
 17  n               131142 non-null  float64
 18  tp              131142 non-null  float64
 19  tp_cal          131142 non-null  float64
 20  per             131142 non-null  float64
 21  per_y           131142 non-null  float64
 22  moid            131142 non-null  float64
 23  moid_ld         131142 non-null  float64
 24  sigma_e         131142 non-null  float64
 25  sigma_a         131142 non-null  float64
 26  sigma_q         131142 non-null  float64
 27  sigma_i         131142 non-null  float64
 28  sigma_om        131142 non-null  float64
 29  sigma_w         131142 non-null  float64
 30  sigma_ma        131142 non-null  float64
 31  sigma_ad        131142 non-null  float64
 32  sigma_n         131142 non-null  float64
 33  sigma_tp        131142 non-null  float64
 34  sigma_per       131142 non-null  float64
 35  class           131142 non-null  object
 36  rms             131142 non-null  float64
dtypes: float64(33), int64(1), object(3)
memory usage: 38.0+ MB

In [29]:
df["pha"]

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [30]:
df["pha"].unique()

array(['N', 'Y'], dtype=object)

In [31]:
df["pha"].value_counts()

N    130961
Y       181
Name: pha, dtype: int64

In [32]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

label_encoder.fit(df["pha"])
df['pha'] = label_encoder.transform(df['pha'])

label_encoder.fit(df["neo"])
df['neo'] = label_encoder.transform(df['neo'])

label_encoder.fit(df["class"])
df['class'] = label_encoder.transform(df['class'])

df

,neo,pha,H,diameter,albedo,diameter_sigma,epoch,epoch_mjd,epoch_cal,e,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,0,0,3.40,939.400,0.0900,0.200,2458600.5,58600,20190427.0,0.076009,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,6,0.43301
1,0,0,4.20,545.000,0.1010,18.000,2459000.5,59000,20200531.0,0.229972,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,6,0.35936
2,0,0,5.33,246.596,0.2140,10.594,2459000.5,59000,20200531.0,0.256936,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,6,0.33848
3,0,0,3.00,525.400,0.4228,0.200,2458600.5,58600,20190427.0,0.088721,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,6,0.39980
4,0,0,6.90,106.699,0.2740,3.140,2459000.5,59000,20200531.0,0.190913,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,6,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891599,0,0,16.20,3.793,0.0210,1.375,2459000.5,59000,20200531.0,0.159579,...,2.602600e-05,1.897900e-05,4.951000e-05,5.127900e-05,2.635700e-07,1.878300e-08,3.498100e-04,2.217200e-04,6,0.59145
891841,0,0,17.40,2.696,0.0610,0.701,2459000.5,59000,20200531.0,0.074890,...,1.788500e-05,1.538400e-04,3.026900e-03,3.326500e-03,1.472800e-06,1.949700e-07,1.413600e-02,1.198900e-03,6,0.42754
894103,0,0,17.20,3.271,0.0720,1.074,2459000.5,59000,20200531.0,0.287894,...,6.736600e-05,1.160600e-04,1.493200e-03,5.880600e-04,2.269800e-06,1.603500e-07,2.675200e-03,1.686400e-03,6,0.53016
901055,0,0,16.00,3.009,0.0780,0.981,2459000.5,59000,20200531.0,0.240246,...,3.376000e-05,2.546000e-05,3.313800e-04,8.637800e-05,9.530100e-07,6.243600e-08,3.265500e-04,7.520900e-04,6,0.57294
909489,0,0,18.30,1.600,0.0230,0.283,2459000.5,59000,20200531.0,0.108726,...,1.178200e-05,1.384400e-04,1.581900e-04,1.040200e-04,8.802300e-08,1.290800e-08,4.108800e-04,6.763900e-05,6,0.75791

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131142 entries, 0 to 909489
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             131142 non-null  int64
 1   pha             131142 non-null  int64
 2   H               131142 non-null  float64
 3   diameter        131142 non-null  float64
 4   albedo          131142 non-null  float64
 5   diameter_sigma  131142 non-null  float64
 6   epoch           131142 non-null  float64
 7   epoch_mjd       131142 non-null  int64
 8   epoch_cal       131142 non-null  float64
 9   e               131142 non-null  float64
 10  a               131142 non-null  float64
 11  q               131142 non-null  float64
 12  i               131142 non-null  float64
 13  om              131142 non-null  float64
 14  w               131142 non-null  float64
 15  ma              131142 non-null  float64
 16  ad              131142 non-null  float64
 17  n               131142 non-null  float64
 18  tp              131142 non-null  float64
 19  tp_cal          131142 non-null  float64
 20  per             131142 non-null  float64
 21  per_y           131142 non-null  float64
 22  moid            131142 non-null  float64
 23  moid_ld         131142 non-null  float64
 24  sigma_e         131142 non-null  float64
 25  sigma_a         131142 non-null  float64
 26  sigma_q         131142 non-null  float64
 27  sigma_i         131142 non-null  float64
 28  sigma_om        131142 non-null  float64
 29  sigma_w         131142 non-null  float64
 30  sigma_ma        131142 non-null  float64
 31  sigma_ad        131142 non-null  float64
 32  sigma_n         131142 non-null  float64
 33  sigma_tp        131142 non-null  float64
 34  sigma_per       131142 non-null  float64
 35  class           131142 non-null  int64
 36  rms             131142 non-null  float64
dtypes: float64(33), int64(4)
memory usage: 38.0 MB

In [35]:
%%time
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X = df.drop(['pha'], axis=1)
y = df['pha']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

model = LogisticRegression()
model.fit(X_train, y_train)

answers_pred = model.predict(X_test)

CPU times: user 1.14 s, sys: 504 ms, total: 1.65 s
Wall time: 928 ms

In [37]:
from sklearn.metrics import accuracy_score, confusion_matrix

print(accuracy_score(y_test,answers_pred))
print(confusion_matrix(y_test,answers_pred))

0.9987545433749333
[[39294     0]
 [   49     0]]