In [24]:
lst=[]

In [30]:
with open('Альгамбра.txt', 'r') as l:
  lst.append(l.readlines())

In [39]:
text=['на втором этаже здания находится Музей изящных искусств Гранады', 'Здесь же находятся девять арабских домиков', 'Реставрация башни была закончена']

In [42]:
import pandas as pd

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
corpus = text

X = vectorizer.fit_transform(corpus)

print(vectorizer.get_feature_names())
X=X.toarray()
X=pd.DataFrame(X)

['арабских', 'башни', 'была', 'втором', 'гранады', 'девять', 'домиков', 'же', 'закончена', 'здания', 'здесь', 'изящных', 'искусств', 'музей', 'на', 'находится', 'находятся', 'реставрация', 'этаже']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [50]:
X

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0   0   0   0   1   1   0   0   0   0   1   0   1   1   1   1   1   0   0   1
1   1   0   0   0   0   1   1   1   0   0   1   0   0   0   0   0   1   0   0
2   0   1   1   0   0   0   0   0   1   0   0   0   0   0   0   0   0   1   0

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform(corpus)

feature_names = vectorizer.get_feature_names()
print("Feature names", feature_names)

dense = vectors.todense()

denselist = dense.tolist()

df2 = pd.DataFrame(denselist, columns=feature_names)
df2

Feature names ['арабских', 'башни', 'была', 'втором', 'гранады', 'девять', 'домиков', 'же', 'закончена', 'здания', 'здесь', 'изящных', 'искусств', 'музей', 'на', 'находится', 'находятся', 'реставрация', 'этаже']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,арабских,башни,была,втором,гранады,девять,домиков,же,закончена,здания,здесь,изящных,искусств,музей,на,находится,находятся,реставрация,этаже
0,0.000000,0.0,0.0,0.333333,0.333333,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.333333,0.333333,0.333333,0.333333,0.333333,0.000000,0.0,0.333333
1,0.408248,0.0,0.0,0.000000,0.000000,0.408248,0.408248,0.408248,0.0,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.0,0.000000
2,0.000000,0.5,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000