In [93]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import re

In [94]:
train = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_advanced_2022/main/%D0%9D%D0%A2%D0%9E%20%D0%B8%D0%BD%D0%B6%20%D1%82%D1%83%D1%80/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Adelaaas/Data_science_advanced_2022/main/%D0%9D%D0%A2%D0%9E%20%D0%B8%D0%BD%D0%B6%20%D1%82%D1%83%D1%80/predict.csv')

In [95]:
print(train)
print('')

print('-------------------------------------------------------------------------------')

print('')
print(test)

           Vmag        Plx     e_Plx       B-V  SpType       Amag  TargetClass
0      6.901420  24.569658  0.862829  0.737416     G5V  20.449126            1
1      4.334196   2.198947  0.593309  1.153210    G2Ib  13.043324            0
2      7.873019  11.750465  0.616568  0.589166     F5V  17.736492            1
3      8.110014   2.143815  0.848508  1.322107   K2III  15.592469            0
4      8.025193   4.165622  0.899296  1.141646   K5III  16.379680            0
...         ...        ...       ...       ...     ...        ...          ...
31636  7.561113   0.692340  0.843319  0.252874    A0II  12.542120            0
31637  8.078011   3.002784  0.689891  0.971966   G8III  15.379710            0
31638  7.065964   7.820498  0.885794  0.435381  F3IV/V  16.737442            1
31639  8.685452   2.643033  1.064647  0.988600   K0III  14.859882            0
31640  8.612488  19.959947  0.771636  0.611390     G3V  20.814352            1

[31641 rows x 7 columns]

-------------------------------------------------------------------------------

          Vmag        Plx     e_Plx       B-V       SpType       Amag
0     4.039519  13.596504  0.845101 -0.097823      F5V+...  15.774122
1     6.655719   4.010332  1.050017  1.386670        K5III  15.344976
2     6.405060   0.348855  0.961598  0.951503       B0IVpe  12.236103
3     9.113068   2.954461  1.251422  1.002819        K1III  15.560838
4     6.107686   3.144180  0.475795  0.493345  G8II-IIIvar  12.771981
...        ...        ...       ...       ...          ...        ...
7906  8.255272   2.858885  0.822289  1.349195        M3III  16.438014
7907  6.255358   3.034436  0.449386  0.966053        K0III  13.898403
7908  8.643598  10.932145  0.947897  0.504383          G0V  18.980729
7909  9.400810   6.279361  1.332124  0.351073          F2V  16.872491
7910  8.792551   2.379289  1.451311  1.110596        K1III  15.737505

[7911 rows x 6 columns]

In [96]:
train.info()
print('')

print('-----------------------------------------')

print('')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31641 entries, 0 to 31640
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Vmag         31641 non-null  float64
 1   Plx          31641 non-null  float64
 2   e_Plx        31641 non-null  float64
 3   B-V          31641 non-null  float64
 4   SpType       31641 non-null  object
 5   Amag         31641 non-null  float64
 6   TargetClass  31641 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 1.7+ MB

-----------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7911 entries, 0 to 7910
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Vmag    7911 non-null   float64
 1   Plx     7911 non-null   float64
 2   e_Plx   7911 non-null   float64
 3   B-V     7911 non-null   float64
 4   SpType  7911 non-null   object
 5   Amag    7911 non-null   float64
dtypes: float64(5), object(1)
memory usage: 371.0+ KB

In [97]:
train['Class'] = 0
train['illum'] = 0


for index, row in train.iterrows():
    train.loc[index, 'Class'] = re.findall(r'([A-Z])', train.loc[index, 'SpType'])[0]
    try:
        x = re.findall(r'([0-9])', train.loc[index, 'SpType'])[0]
        y = re.findall(r'.*[0-9]([IV]*)', train.loc[index, 'SpType'])[-1]
        if y not in ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII']:
            train.loc[index, 'illum'] = 'IV'
        else:
            train.loc[index, 'illum'] = y
        train.loc[index, 'class_class'] = x
    except IndexError:
        train.loc[index, 'illum'] = 'IV'
        train.loc[index, 'class_class'] = 4
sptype = train.drop("SpType", axis=1, inplace=True)

train

,Vmag,Plx,e_Plx,B-V,Amag,TargetClass,Class,illum,class_class
0,6.901420,24.569658,0.862829,0.737416,20.449126,1,G,V,5
1,4.334196,2.198947,0.593309,1.153210,13.043324,0,G,I,2
2,7.873019,11.750465,0.616568,0.589166,17.736492,1,F,V,5
3,8.110014,2.143815,0.848508,1.322107,15.592469,0,K,III,2
4,8.025193,4.165622,0.899296,1.141646,16.379680,0,K,III,5
...,...,...,...,...,...,...,...,...,...
31636,7.561113,0.692340,0.843319,0.252874,12.542120,0,A,II,0
31637,8.078011,3.002784,0.689891,0.971966,15.379710,0,G,III,8
31638,7.065964,7.820498,0.885794,0.435381,16.737442,1,F,IV,3
31639,8.685452,2.643033,1.064647,0.988600,14.859882,0,K,III,0
31640,8.612488,19.959947,0.771636,0.611390,20.814352,1,G,V,3

In [98]:
le1 = LabelEncoder()
le2 = LabelEncoder()
label1 = le1.fit_transform(train['Class'])
label2 = le2.fit_transform(train['illum'])
train.drop("Class", axis=1, inplace=True)
train.drop("illum", axis=1, inplace=True)
train['Class'] = label1
train['illum'] = label2

train

,Vmag,Plx,e_Plx,B-V,Amag,TargetClass,class_class,Class,illum
0,6.901420,24.569658,0.862829,0.737416,20.449126,1,5,4,4
1,4.334196,2.198947,0.593309,1.153210,13.043324,0,2,4,0
2,7.873019,11.750465,0.616568,0.589166,17.736492,1,5,3,4
3,8.110014,2.143815,0.848508,1.322107,15.592469,0,2,5,2
4,8.025193,4.165622,0.899296,1.141646,16.379680,0,5,5,2
...,...,...,...,...,...,...,...,...,...
31636,7.561113,0.692340,0.843319,0.252874,12.542120,0,0,0,1
31637,8.078011,3.002784,0.689891,0.971966,15.379710,0,8,4,2
31638,7.065964,7.820498,0.885794,0.435381,16.737442,1,3,3,3
31639,8.685452,2.643033,1.064647,0.988600,14.859882,0,0,5,2
31640,8.612488,19.959947,0.771636,0.611390,20.814352,1,3,4,4

In [99]:
y = train['TargetClass']
X = train.drop(columns = ['TargetClass'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.3)

In [100]:
%%time
rfc = RandomForestClassifier(random_state = 42, n_jobs = -1)
rfc.fit(X_train, y_train)

CPU times: user 4.32 s, sys: 33.3 ms, total: 4.36 s
Wall time: 2.36 s

RandomForestClassifier(n_jobs=-1, random_state=42)

In [101]:
pred = rfc.predict(X_test)
roc_auc_score(y_test, pred)

0.9593466452071661

In [102]:
test['Class'] = 0
test['illum'] = 0


for index, row in test.iterrows():
    test.loc[index, 'Class'] = re.findall(r'([A-Z])', test.loc[index, 'SpType'])[0]
    try:
        x = re.findall(r'([0-9])', test.loc[index, 'SpType'])[0]
        y = re.findall(r'.*[0-9]([IV]*)', test.loc[index, 'SpType'])[-1]
        if y not in ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII']:
            test.loc[index, 'illum'] = 'IV'
        else:
            test.loc[index, 'illum'] = y
        test.loc[index, 'class_class'] = x
    except IndexError:
        test.loc[index, 'illum'] = 'IV'
        test.loc[index, 'class_class'] = 4
sptype = test.drop("SpType", axis=1, inplace=True)

test

,Vmag,Plx,e_Plx,B-V,Amag,Class,illum,class_class
0,4.039519,13.596504,0.845101,-0.097823,15.774122,F,V,5
1,6.655719,4.010332,1.050017,1.386670,15.344976,K,III,5
2,6.405060,0.348855,0.961598,0.951503,12.236103,B,IV,0
3,9.113068,2.954461,1.251422,1.002819,15.560838,K,III,1
4,6.107686,3.144180,0.475795,0.493345,12.771981,G,II,8
...,...,...,...,...,...,...,...,...
7906,8.255272,2.858885,0.822289,1.349195,16.438014,M,III,3
7907,6.255358,3.034436,0.449386,0.966053,13.898403,K,III,0
7908,8.643598,10.932145,0.947897,0.504383,18.980729,G,V,0
7909,9.400810,6.279361,1.332124,0.351073,16.872491,F,V,2
7910,8.792551,2.379289,1.451311,1.110596,15.737505,K,III,1

In [103]:
le1 = LabelEncoder()
le2 = LabelEncoder()
label1 = le1.fit_transform(test['Class'])
label2 = le2.fit_transform(test['illum'])
test.drop("Class", axis=1, inplace=True)
test.drop("illum", axis=1, inplace=True)
test['Class'] = label1
test['illum'] = label2

test

,Vmag,Plx,e_Plx,B-V,Amag,class_class,Class,illum
0,4.039519,13.596504,0.845101,-0.097823,15.774122,5,3,4
1,6.655719,4.010332,1.050017,1.386670,15.344976,5,5,2
2,6.405060,0.348855,0.961598,0.951503,12.236103,0,1,3
3,9.113068,2.954461,1.251422,1.002819,15.560838,1,5,2
4,6.107686,3.144180,0.475795,0.493345,12.771981,8,4,1
...,...,...,...,...,...,...,...,...
7906,8.255272,2.858885,0.822289,1.349195,16.438014,3,6,2
7907,6.255358,3.034436,0.449386,0.966053,13.898403,0,5,2
7908,8.643598,10.932145,0.947897,0.504383,18.980729,0,4,4
7909,9.400810,6.279361,1.332124,0.351073,16.872491,2,3,4
7910,8.792551,2.379289,1.451311,1.110596,15.737505,1,5,2

In [104]:
pred = rfc.predict(test)
pred = pd.Series(pred)

In [105]:
pred.to_csv('Result.csv')
pred_file = pd.read_csv('/content/Result.csv')

In [106]:
pred_file.rename(columns={'0': 'TargetClass','Unnamed: 0':'Number'}, inplace=True)

In [107]:
test = test.join(pred_file)

test

,Vmag,Plx,e_Plx,B-V,Amag,class_class,Class,illum,Number,TargetClass
0,4.039519,13.596504,0.845101,-0.097823,15.774122,5,3,4,0,1
1,6.655719,4.010332,1.050017,1.386670,15.344976,5,5,2,1,0
2,6.405060,0.348855,0.961598,0.951503,12.236103,0,1,3,2,1
3,9.113068,2.954461,1.251422,1.002819,15.560838,1,5,2,3,0
4,6.107686,3.144180,0.475795,0.493345,12.771981,8,4,1,4,0
...,...,...,...,...,...,...,...,...,...,...
7906,8.255272,2.858885,0.822289,1.349195,16.438014,3,6,2,7906,0
7907,6.255358,3.034436,0.449386,0.966053,13.898403,0,5,2,7907,0
7908,8.643598,10.932145,0.947897,0.504383,18.980729,0,4,4,7908,1
7909,9.400810,6.279361,1.332124,0.351073,16.872491,2,3,4,7909,1
7910,8.792551,2.379289,1.451311,1.110596,15.737505,1,5,2,7910,0

In [108]:
pred_final = test.drop(['Number'], axis='columns')
pred_final = pred_final.reindex(columns=['Vmag', 'Plx', 'e_Plx', 'B-V', 'SpType', 'Amag', 'TargetClass'])

pred_final

          Vmag        Plx     e_Plx       B-V  SpType       Amag  TargetClass
0     4.039519  13.596504  0.845101 -0.097823     NaN  15.774122            1
1     6.655719   4.010332  1.050017  1.386670     NaN  15.344976            0
2     6.405060   0.348855  0.961598  0.951503     NaN  12.236103            1
3     9.113068   2.954461  1.251422  1.002819     NaN  15.560838            0
4     6.107686   3.144180  0.475795  0.493345     NaN  12.771981            0
...        ...        ...       ...       ...     ...        ...          ...
7906  8.255272   2.858885  0.822289  1.349195     NaN  16.438014            0
7907  6.255358   3.034436  0.449386  0.966053     NaN  13.898403            0
7908  8.643598  10.932145  0.947897  0.504383     NaN  18.980729            1
7909  9.400810   6.279361  1.332124  0.351073     NaN  16.872491            1
7910  8.792551   2.379289  1.451311  1.110596     NaN  15.737505            0

[7911 rows x 7 columns]

In [109]:
pred_final.to_csv('Result_final.csv',index=False)