In [234]:
from google.colab import files
uploaded = files.upload()

Saving sample.csv to sample (8).csv
Saving train.csv to train (6).csv

In [235]:
import pandas as pd

In [254]:
train = pd.read_csv("train.csv")
test = pd.read_csv("sample.csv")

In [237]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   total     34946 non-null  float64
dtypes: float64(1), object(1)
memory usage: 548.0+ KB

In [238]:
train.isna().sum()

datetime      0
total       118
dtype: int64

In [255]:
train = train.dropna().reset_index()

In [240]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34946 entries, 0 to 34945
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     34946 non-null  int64
 1   datetime  34946 non-null  object
 2   total     34946 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 819.2+ KB

In [256]:
train['h'] = 0
train['d'] = 0
train['m'] = 0
train['y'] = 0

In [257]:
train

       index             datetime        total  h  d  m  y
0          1  01.01.2005 01:00:00  154139.8084  0  0  0  0
1          2  01.01.2005 02:00:00  157818.3593  0  0  0  0
2          3  01.01.2005 03:00:00  149310.6991  0  0  0  0
3          4  01.01.2005 04:00:00  138282.0380  0  0  0  0
4          5  01.01.2005 05:00:00  132032.7479  0  0  0  0
...      ...                  ...          ... .. .. .. ..
34941  35059  31.12.2008 19:00:00  249376.3608  0  0  0  0
34942  35060  31.12.2008 20:00:00  246510.5725  0  0  0  0
34943  35061  31.12.2008 21:00:00  226469.4133  0  0  0  0
34944  35062  31.12.2008 22:00:00  199907.3942  0  0  0  0
34945  35063  31.12.2008 23:00:00  151086.2414  0  0  0  0

[34946 rows x 7 columns]

In [258]:
for i in range(34946):
    train['h'][i] = train["datetime"][i][11:13]
    train['d'][i] = train["datetime"][i][0:2]
    train['m'][i] = train["datetime"][i][3:5]
    train['y'][i] = train["datetime"][i][6:10]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [259]:
train = train.drop(["datetime"], axis = 1)
train = train.drop(["index"], axis = 1)

In [260]:
train

             total   h   d   m     y
0      154139.8084   1   1   1  2005
1      157818.3593   2   1   1  2005
2      149310.6991   3   1   1  2005
3      138282.0380   4   1   1  2005
4      132032.7479   5   1   1  2005
...            ...  ..  ..  ..   ...
34941  249376.3608  19  31  12  2008
34942  246510.5725  20  31  12  2008
34943  226469.4133  21  31  12  2008
34944  199907.3942  22  31  12  2008
34945  151086.2414  23  31  12  2008

[34946 rows x 5 columns]

In [261]:
from sklearn.linear_model import LinearRegression

x = train[['h', 'd', 'm', 'y']]
y = train[['total']]

In [262]:
pres = LinearRegression()
pres.fit(x,y)

predict_test = pres.predict(x)
predict_test

array([[153433.9256296 ],
       [157880.92652049],
       [162327.92741137],
       ...,
       [212361.30445871],
       [216808.30534959],
       [221255.30624047]])

In [263]:
from sklearn.metrics import mean_absolute_error, mean_squared_error


print('MSE: {:.3f}'.format(mean_squared_error(y, predict_test)))

MSE: 1040189556.962

In [264]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  4344 non-null   object
 1   total     4344 non-null   int64
dtypes: int64(1), object(1)
memory usage: 68.0+ KB

In [265]:
test['h'] = 0
test['d'] = 0
test['m'] = 0
test['y'] = 0

test = test.reindex(columns=['datetime', 'h', 'd', 'm', 'y', 'total'])
test

                 datetime  h  d  m  y  total
0     01.01.2009 00:00:00  0  0  0  0      0
1     01.01.2009 01:00:00  0  0  0  0      0
2     01.01.2009 02:00:00  0  0  0  0      0
3     01.01.2009 03:00:00  0  0  0  0      0
4     01.01.2009 04:00:00  0  0  0  0      0
...                   ... .. .. .. ..    ...
4339  30.06.2009 19:00:00  0  0  0  0      0
4340  30.06.2009 20:00:00  0  0  0  0      0
4341  30.06.2009 21:00:00  0  0  0  0      0
4342  30.06.2009 22:00:00  0  0  0  0      0
4343  30.06.2009 23:00:00  0  0  0  0      0

[4344 rows x 6 columns]

In [266]:
for i in range(4344):
    test['h'][i] = test["datetime"][i][11:13]
    test['d'][i] = test["datetime"][i][0:2]
    test['m'][i] = test["datetime"][i][3:5]
    test['y'][i] = test["datetime"][i][6:10]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [267]:
x = test[['h', 'd', 'm', 'y']]
test['total'] = pres.predict(x)

In [268]:
test

                 datetime   h   d  m     y          total
0     01.01.2009 00:00:00   0   1  1  2009  116556.981450
1     01.01.2009 01:00:00   1   1  1  2009  121003.982341
2     01.01.2009 02:00:00   2   1  1  2009  125450.983232
3     01.01.2009 03:00:00   3   1  1  2009  129897.984122
4     01.01.2009 04:00:00   4   1  1  2009  134344.985013
...                   ...  ..  .. ..   ...            ...
4339  30.06.2009 19:00:00  19  30  6  2009  199801.359132
4340  30.06.2009 20:00:00  20  30  6  2009  204248.360023
4341  30.06.2009 21:00:00  21  30  6  2009  208695.360914
4342  30.06.2009 22:00:00  22  30  6  2009  213142.361805
4343  30.06.2009 23:00:00  23  30  6  2009  217589.362696

[4344 rows x 6 columns]

In [271]:
test.to_csv('predictions.csv', index=False)